.services{
    &__img{
        display: none;
    }
    margin-top: 220px;


    &__title{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        /* or 125% */
        max-width: 510px;

        color: #000000;
            }
}

.services > div{
    display: flex;
    justify-content: space-around;
}



.tabs{
    list-style-type: none;
    margin-left: -20px;
}

.tabs__item{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    /* or 244% */
    margin-top: 10px;
    text-transform: uppercase;
    color: #787878;
    cursor:pointer;


}



.active_tab{
    font-weight: 700;
    color: #000;
}


